.title {
  border: 2px solid black;
}

.tree__wrapp {
  background: url("./Assets/FamilyTree.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 360px;
  height: 35rem;
}

.family__wrapp {
  position: relative;
  width: 100%;
  height: 100%;
}

.block__wrapp {
  display: flex;
  flex-direction: row;
}

.right__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem 1rem 1rem 0;
}

.left__block {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 0 1rem 1rem;
}

.center__block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.center__block__root {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px 0;
}

.text__wrapp,
.text__wrapp__upperLeft,
.text__wrapp__lowerLeft,
.text__wrapp__upperRight,
.text__wrapp__lowerRight {
  margin: auto;
  padding: 10px;
  position: relative;
}

.text__wrapp__upperLeft,
.text__wrapp__lowerLeft {
  left: 8rem;
}

.text__wrapp__upperRight,
.text__wrapp__lowerRight {
  right: 8rem;
}

.family__text {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.family__text__center,
.family__text {
  background-color: rgb(40, 172, 40);
  color: #ffff;
  border-radius: 50%;
}

.family__text__center {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  padding: 4px;
}

.text__center__root {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #f19447f3;
  font: 40px bold;
  text-shadow: 0 0 30px rgb(204, 207, 221);
  width: 55%;
  height: 4rem;
}

.family__text:hover,
.family__text__center:hover {
  background-color: #ffff;
  color: rgb(40, 172, 40);
}

@media screen and (max-height: 480px) {
  .tree__wrapp {
    height: 100%;
  }

  .text__wrapp,
  .text__wrapp__upperLeft,
  .text__wrapp__lowerLeft,
  .text__wrapp__upperRight,
  .text__wrapp__lowerRight {
    margin: auto;
    padding: 2px;
    position: relative;
  }
  .text__wrapp__upperLeft,
  .text__wrapp__lowerLeft {
    left: 0;
  }

  .text__wrapp__upperRight,
  .text__wrapp__lowerRight {
    right: 0;
  }

  .family__text {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
  }

  .family__text__center {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 4px;
  }

  .text__center__root {
    color: #f19447f3;
    font: 20px bold;
    text-shadow: 0 0 30px rgb(204, 207, 221);
  }
}
