.title {
  border: 2px solid black;
}

.tree__wrapp{
  background: url("./Assets/FamilyTree.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 360px;
  height: 35rem;
}

.family__wrapp {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px dashed blue;
  
}

.block__wrapp {
  display: flex;
  flex-direction: row;
}

.right__block {
  border: 2px solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem 1rem 1rem 0;
}

.left__block {
  position: relative;
  width: 50%;
  height: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 0 1rem 1rem;
}

.center__block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.center__block__root{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
}

.text__wrapp {
  margin: auto;
  padding: 10px;
}

.family__text {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.family__text__center,
.family__text {
  border: 5px solid rgb(21, 153, 39);
  background-color: rgb(40, 172, 40); 
  color: #ffff;
  border-radius: 50%;
}

.family__text__center{
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  padding: 4px;
}

.text__center__root{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #dd6c10;
  font: 50px bold;
  text-shadow: 0 0 30px rgb(48, 76, 231);
  width: 50%;
  height: 4rem;
}