body{
  text-align: center;
}

.title {
  border: 2px solid black;
}

.tree__wrapp {
  background: url("./Assets/FamilyTree.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 360px;
  height: 35rem;
}

.family__wrapp {
  position: relative;
  width: 100%;
  height: 100%;
}

.block__wrapp {
  display: flex;
  flex-direction: row;
}

.right__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem 1rem 1rem 0;
}

.left__block {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 0 1rem 1rem;
}

.center__block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.center__block__root {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px 0;
}

.text__wrapp,
.text__wrapp__upperLeft,
.text__wrapp__lowerLeft,
.text__wrapp__upperRight,
.text__wrapp__lowerRight {
  margin: auto;
  padding: 10px;
  position: relative;
}

.text__wrapp__upperLeft,
.text__wrapp__lowerLeft {
  left: 8rem;
}

.text__wrapp__upperRight,
.text__wrapp__lowerRight {
  right: 8rem;
}

.family__text,
.family__text__left {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.family__text__center,
.family__text {
  background-color: rgb(40, 172, 40);
  color: #ffff;
  border-radius: 50% 0;
}

.family__text__left {
  background-color: rgb(40, 172, 40);
  color: #ffff;
  border-radius: 0 50%;
}

.family__text__center {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  padding: 4px;
}

.text__center__root {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #f19447f3;
  font: 40px bold;
  text-shadow: 0 0 30px rgb(204, 207, 221);
  width: 55%;
  height: 4rem;
}

.family__text:hover,
.family__text__center:hover,
.family__text__left:hover {
  background-color: #ffff;
  color: rgb(40, 172, 40);
}
/* resolution change */
@media screen and (max-width: 915px) {
  .tree__wrapp {
    height: 15rem;
  }

  .text__wrapp,
  .text__wrapp__upperLeft,
  .text__wrapp__lowerLeft,
  .text__wrapp__upperRight,
  .text__wrapp__lowerRight {
    margin: auto;
    padding: 2px;
    position: relative;
  }
  .text__wrapp__upperLeft,
  .text__wrapp__lowerLeft {
    left: 2;
  }

  .text__wrapp__upperRight,
  .text__wrapp__lowerRight {
    right: 2;
  }

  .family__text,
  .family__text__left {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }

  .family__text__center {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 4px;
  }

  .text__center__root {
    color: #f19447f3;
    font: 20px bold;
    text-shadow: 0 0 30px rgb(204, 207, 221);
  }
}

@media screen and (max-width: 760px) {
  .tree__wrapp {
    min-height: 350px;
    height: 1rem;
  }

  .text__wrapp,
  .text__wrapp__upperLeft,
  .text__wrapp__lowerLeft,
  .text__wrapp__upperRight,
  .text__wrapp__lowerRight {
    margin: auto;
    padding: 2px;
    position: relative;
  }
  .text__wrapp__upperLeft,
  .text__wrapp__lowerLeft {
    left: 50px;
  }

  .text__wrapp__upperRight,
  .text__wrapp__lowerRight {
    right: 50px;
  }

  .family__text,
  .family__text__left {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }

  .family__text__center {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 2px;
  }

  .text__center__root {
    color: #f19447f3;
    font: 18px bold;
    text-shadow: 0 0 30px rgb(204, 207, 221);
    width: 100%;
    height: 1rem;
  }
  .right__block {
    padding: 2px 2px 2px 0;
  }

  .left__block {
    padding: 2px 0 2px 2px;
  }
  .center__block{
    padding: 2px 0
  }
    
}
/* BANNER  */

.album__banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 1rem auto;
  position: relative;
  gap: 1rem;
}

.banner__body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  z-index: 2;
  margin: auto;
  width: 70%;
  border: 2px solid rgb(184, 134, 68);
  border-radius: 12px 12px;
  padding: 4px 2px;
  background: burlywood;
  height: 6rem;
}

.banner__left,
.banner__right{
    min-width: 48px;
    height: 6rem;
    background: burlywood;
    border: 2px solid rgb(184, 134, 68);
}

.banner__left {
  z-index: 1;
  margin-right: -2rem;
  width: 15%;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.banner__right {
  width: 15%;
  z-index: 1;
  margin-left: -2rem;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
